<%- include('../layouts/header.ejs') %>

    <div id="mySidenav" class="sidenav">
        <p class="logo">NEWLOOK FASHIONS</p>
        <a href="/admin/dashboard" class="icon-a"><i class="fa fa-dashboard icons"></i> Dashboard</a>
        <a href="/admin/sales" class="icon-a" ><i class="fa fa-calendar icons "></i> Sales</a>
        <a href="/admin/user_manage" class="icon-a"><i class="fa fa-users icons"></i> Customers</a>
        <a href="/admin/product_manage" class="icon-a"><i class="fa fa-shopping-cart icons "></i> Products</a>
        <a href="/admin/category_manage" class="icon-a"><i class="fa fa-list icons"></i> Category</a>
        <a href="/admin/orders" class="icon-a"><i class="fa fa-shopping-bag icons"></i> Orders</a>
        <a href="/admin/coupons" id="current-list-item" class="icon-a"><i
                class="fa fa-window-maximize icons current-list-item"></i> Coupons</a>
        <a href="/admin/logout" class="icon-a"><i class="fa fa-user icons"></i> Logout</a>
    </div>

    <div id="main">
        <div class="head">
            <div class="col-div-6">
                <span style="font-size:30px;cursor:pointer; color: white;" class="nav">☰ Coupons</span>
                <span style="font-size:30px;cursor:pointer; color: white;" class="nav2">☰ Coupons</span>
            </div>
            <div class="col-div-6">
                <div class="profile">
                    <img src="https://w7.pngwing.com/pngs/429/434/png-transparent-computer-icons-icon-design-business-administration-admin-icon-hand-monochrome-silhouette-thumbnail.png"
                        class="pro-img" />
                    <p>ADMIN<span></span></p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <section style="background-color: #eee;">
            <div class="container py-3">
                <div class="row">
                    <div class="col">
                        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a href="/admin/coupons">Coupons</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Edit Coupons</li>
                            </ol>
                        </nav>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-8">
                        <div class="card mb-4">
                            <div class="card-body">
                                <form action="" class="" method="post">
                                    <% if(typeof message !=='undefined' ){ %>
                                        <div class="alert alert-danger">
                                            <strong>
                                                <%= message %>
                                            </strong>
                                        </div>
                                        <% } %>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <p class="mb-0">Coupon code</p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <p class="text-muted mb-0 text-black"> <input type="text"
                                                            name="code" required value="<%= coupon.couponCode  %>" id="couponcode"> </p>
                                                </div>
                                            </div>
                                            <br><br>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <p class="mb-0">Discount </p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <p class="text-muted mb-0 text-black"> <input type="number"
                                                            name="discount" required value="<%= coupon.discount  %>" > </p>
                                                </div>
                                            </div>
                                            <br><br>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <p class="mb-0">Minimum Purchase Amount </p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <p class="text-muted mb-0 text-black"> <input type="number"
                                                            name="minAmount" required value="<%= coupon.minAmount  %>" > </p>
                                                </div>
                                            </div>
                                            <br><br>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <p class="mb-0">Maximum Discount </p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <p class="text-muted mb-0 text-black"> <input type="number"
                                                            name="maxDiscount" required value="<%= coupon.maxDiscount  %>" > </p>
                                                </div>
                                            </div>
                                            <br><br>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <p class="mb-0">Count</p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <p class="text-muted mb-0 text-black"> <input type="number"
                                                            name="count" required value="<%= coupon.count  %>"> </p>
                                                </div>
                                            </div>
                                            <br><br>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <p class="mb-0">Expire Date</p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <p class="text-muted mb-0 text-black"> <input type="number"
                                                            name="expire" required value="<%= coupon.expire  %>"> </p>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="d-flex justify-content-center"><button
                                                    class="btn btn-primary d-flex " type="submit">
                                                    Edit Coupon</button>
                                            </div>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
    <script>
        document.getElementById("couponcode").addEventListener("input", function () {
            var Uname = document.getElementById("couponcode").value;
            if (Uname.trim() == "") {
                document.getElementById("couponcode").setCustomValidity("Coupon code Can't be null");
            } else {
                document.getElementById("couponcode").setCustomValidity("");
            }
        });
    </script>
    <%- include('../layouts/footer.ejs') %>