<%- include('../layouts/header.ejs') %>

    <div id="mySidenav" class="sidenav">
        <p class="logo">DECORE FASHIONS</p>
        <a href="/admin/dashboard" class="icon-a"><i class="fa fa-dashboard icons"></i> Dashboard</a>
        <a href="/admin/user_manage"  class="icon-a"><i  class="fa fa-users icons "></i> Customers</a>
        <a href="/admin/product_manage" class="icon-a"><i class="fa fa-shopping-cart  "></i>Products</a>
        <a href="/admin/category_manage" class="icon-a"><i class="fa fa-list icons"></i> Category</a>
        <a href="/admin/orders" class="icon-a" id="current-list-item"><i class="fa fa-shopping-bag icons current-list-item"></i> Orders</a>
        <a href="/admin/coupons" class="icon-a"><i class="fa fa-window-maximize icons"></i> Coupons</a>
        <a href="/admin/logout" class="icon-a"><i class="fa fa-user icons"></i> Logout</a>
    </div>

    <div id="main">

        <div class="head">
            <div class="col-div-6">
                <span style="font-size:30px;cursor:pointer; color: white;" class="nav">☰ Customers</span>
                <span style="font-size:30px;cursor:pointer; color: white;" class="nav2">☰ Customers</span>
            </div>

            <div class="col-div-6">
                <div class="profile">

                    <img src="https://w7.pngwing.com/pngs/429/434/png-transparent-computer-icons-icon-design-business-administration-admin-icon-hand-monochrome-silhouette-thumbnail.png"
                        class="pro-img" />
                    <p>ADMIN<span></span></p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="clearfix"></div>
        <br />

        <section style="background-color: #eee;">
            <div class="container py-5">
                <div class="row">
                    <div class="col">
                        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a href="/admin/dashboard">Orders</a></li>
                                <li class="breadcrumb-item"><a href="/admin/orders">
                                        <%= orderData.userID.name %>
                                    </a></li>
                                <li class="breadcrumb-item active" aria-current="page">Order</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Customer Name</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="fw-bold mb-0 text-black">
                                            <%= orderData.userID.name %>
                                        </p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Order ID</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="fw-bold mb-0">
                                            <%= orderData._id %>
                                        </p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Order Date</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="fw-bold mb-0">
                                            <%= orderData.orderDate %>
                                        </p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Products</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="fw-bold mb-0">
                                            <% orderData.products.forEach(element=> { %>
                                                <%= element.name %> x <%= element.quantity %>, <br>
                                                        <% }); %>

                                        </p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Shipping Address</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="fw-bold mb-0">
                                            <%= orderData.address.name   %>,
                                            <%= orderData.address.pincode %>,
                                            <%= orderData.address.landmark %>,
                                            <%= orderData.address.address %>,
                                            <%= orderData.address.mobile %>
                                        </p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Total Amount</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="fw-bold mb-0">
                                            <%= orderData.Total %>
                                        </p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Payment Method</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="fw-bold mb-0">
                                            <%= orderData.paymentMethod %>
                                        </p>
                                    </div>
                                </div>
                                <hr>
                                <form action="" method="post">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Payment Status</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="fw-bold mb-0">
                                                <select id="lang" name="paymentStatus">
                                                    <option value="<%= orderData.paymentStatus %>">
                                                        <%= orderData.paymentStatus %>
                                                    </option>
                                                    <option value="Pending">Pending </option>
                                                    <option value="completed">completed </option>
                                                    
                                                </select>
                                            </p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Order Status</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="fw-bold mb-0">
                                                <select id="lang" name="orderStatus">
                                                    <option value="<%= orderData.orderStatus %>">
                                                        <%= orderData.orderStatus %>
                                                    </option>
                                                    <option value="Shipped">Shipped </option>
                                                    <option value="Out for Delivery">Out for Delivery </option>
                                                    <option value="Delivered">Delivered </option>
                                                    <option value="Cancelled">Cancelled </option>
                                                </select>
                                            </p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="d-flex  justify-content-center"><button
                                            class="btn btn-success d-flex jus" type="submit">Save</button></div>

                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>

        $(".nav").click(function () {
            $("#mySidenav").css('width', '70px');
            $("#main").css('margin-left', '70px');
            $(".logo").css('visibility', 'hidden');
            $(".logo span").css('visibility', 'visible');
            $(".logo span").css('margin-left', '-10px');
            $(".icon-a").css('visibility', 'hidden');
            $(".icons").css('visibility', 'visible');
            $(".icons").css('margin-left', '-8px');
            $(".nav").css('display', 'none');
            $(".nav2").css('display', 'block');
        });

        $(".nav2").click(function () {
            $("#mySidenav").css('width', '300px');
            $("#main").css('margin-left', '300px');
            $(".logo").css('visibility', 'visible');
            $(".icon-a").css('visibility', 'visible');
            $(".icons").css('visibility', 'visible');
            $(".nav").css('display', 'block');
            $(".nav2").css('display', 'none');
        });

    </script>

    <%- include('../layouts/footer.ejs') %>